.team__soc-list {
  @include display(flex, center, null);
}

.team__soc-link {
  margin-right: 10px;
}

.team__soc-link:last-child {
  margin-right: 0;
}

.team__soc-item {
  @include display(flex, center, center);

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: var(--primery-bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__soc-icon {
  fill: #afb1b8;
}

.team__soc-item:hover,
.team__soc-item:focus {
  background-color: var(--accent-color);
}

.team__soc-item:hover .team__soc-icon,
.team__soc-item:focus .team__soc-icon {
  fill: var(--primery-bg-color);
}
