.header__item {
  @media screen and (max-width: 480px) {
    color: #212121;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header__link::after {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    content: "";
    bottom: -1px;

    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact__img {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    @include display(flex, center, center);

    fill: currentColor;
    margin-right: 10px;
    padding: auto;
  }
}

.contact__img.mail {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 12px;
  }
}

.contact__img.phone {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 16px;
  }
}
