.header__mob-menu {
  // .header__space {
  //   display: flex;
  //   flex-direction: column;
  //   height: 100%;
  //   justify-content: space-between;
  //   overflow: auto;
  // }
  @media screen and (max-width: 767px) {
    display: none;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      position: fixed;

      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #ffffff;
      padding: 48px 40px;
      height: 796px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    max-height: 80px;
    align-items: center;
    width: 100%;
    margin-right: 0;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 60px;
  }
}
// .header__space {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   justify-content: space-between;
//   overflow: auto;
// }
.container .header__mob-menu {
  @media screen and (min-width: 1200px) {
    display: block;
    justify-content: baseline;
  }
}

.header__menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.container .header__mob-menu {
  @media screen and (min-width: 768px) {
    display: flex;
    max-height: 80px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}

.container .header__mob-nav {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 60px;
    width: 100%;
  }
}
.container.header__mob-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    max-height: 80px;
    align-items: center;
    width: 100%;
    margin-right: 0;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    max-height: 80px;
    margin: auto;
  }
}

// .container .header__mob-menu {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   max-height: 60px;
//   width: 100%;
// }

.header__menu-btn .header__icon-close {
  display: none;
}

.header__menu-btn.is-open .header__icon-close {
  display: block;
}

.header__menu-btn.is-open .header__icon-menu {
  display: none;
}

.header__menu-btn:focus .header__icon-close,
.header__menu-btn:focus .header__icon-menu {
  fill: var(--accent-color);
}

.header__list .link {
  font-style: normal;
  font-weight: 500;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 320px) {
    display: block;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    color: var(--tittle-text-color);
  }
}

//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   color: var(--tittle-text-color);

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.header__list .link:hover,
.header__list .link:focus {
  color: var(--accent-color);
}

.header__list .link:hover.header__link::after,
.header__list .link:focus.header__link::after {
  opacity: 1;
}

.header__list .link.current {
  color: var(--accent-color);
}

.header__list .link.current.header__link::after {
  opacity: 1;
}

.contact__list-phone,
.contact__list-mail {
  display: flex;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    color: var(--primery-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // color: #757575;
  // padding-top: 32px;
  // padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__list-phone {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 20px;
  }
  // @media screen and (min-width: 1200px) {
  //   margin-bottom: 0;
  // }
}

.contact__list-mail {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;
    color: var(--primery-text-color);
    margin-top: 32px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 20px;
    margin-bottom: 10px;
  }
}

.header__link {
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: auto;
  }
}

.contact__list-phone:hover .icon-img,
.contact__list-phone:focus .icon-img,
.contact__list-mail:hover .icon-img,
.contact__list-mail:focus .icon-img {
  fill: var(--accent-color);
}

.header__mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__mob-soc-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      padding-right: 10px;
      &::after {
        content: "";
        margin-left: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
      }
    }
  }
}
