.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;

  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.header__title .logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.logo__item {
  color: var(--accent-color);
}
